.input_container {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input_item {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border: 1px solid #ddd;

  display: flex;
}

.input_item.focus {
  border: 2px solid #89e2ff !important;
}
.input_item.validation {
  border: 2px solid red;
}

.input_label {
  display: block;
  width: 15%;
  height: 100%;

  text-align: center;
}

.input_label svg {
  width: 50%;
  height: 100%;
}
input {
  width: 85%;
  padding-left: 2%;
  padding-right: 20%;

  font-size: 18px;

  border: none;
  outline: none;
  cursor: pointer;
}
.pw_input {
  width: 70%;
}
.addr_input {
  width: 65%;
  cursor: default;
}
.pw_input,
.addr_input {
  padding-right: 0;
}

.pw_btn {
  width: 15%;
  height: 100%;
}
.pw_btn button {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;
  background-color: white;

  cursor: pointer;
}
.pw_btn svg {
  width: 30%;
  height: 100%;
}
