.title {
  text-align: center;
  padding: 20px;
  font-size: 34px;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 300px) {
  .title {
    font-size: 26px;
  }
}
